<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.jane.paling</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/jane/.local/bin/uv</string>
        <string>run</string>
        <string>paling</string>
        <string>serve</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/jane/work/paling</string>
    <key>KeepAlive</key>
    <true/>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/Users/jane/var/log/paling.err</string>
    <key>StandardOutPath</key>
    <string>/Users/jane/var/log/paling.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Users/jane/.local/bin</string>
    </dict>
</dict>
</plist>
